
.card__principal{
  position:  relative ;
  display: flex;
  width: 100%;
  height: auto;
  align-items: flex-end;
  justify-content: center;
  border-radius: 1rem;

  @include responsive(desktop){
    grid-row: 1/3;
  }

  img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #fff;
    @include responsive(desktop){
      margin-left: 2.5rem;
    }
  }
  &-info{
    position: absolute;
    width: 100%;
    height: 130px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $Blue;
    border-radius: 1.5rem;
     @include responsive(desktop){
      height: 327px;
      flex-direction: column;
      align-items: flex-start;

    }
  }
  &-detail{
    margin-left:1rem;
    @include responsive(desktop){
      margin-left: 2.5rem;
    }
    h1{
      margin-top: .5rem;
      font-size: 2.6rem;
      font-weight: 300;
      @include responsive(desktop){
        font-size: 3.4rem;
      }
    }
    p{
      font-size: 1.4rem;
      color:$Pale-Blue;
      @include responsive(desktop){
        font-size: 1.8rem;
      }
    }
  }
}

.card__out{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.5rem;

  ul{
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    @include responsive(desktop){
      height: 10rem;
      flex-direction: column;
      padding-left: 2.5rem;
    }
  }
}


.card__data{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: end;
  border-radius: 1.5rem;


  &-title{
    grid-row: 2/3;
    font-size: 1.8rem;
    padding-left: 2rem;
    @include responsive(desktop){
      grid-row: 1/2;
      align-self: center;
    }

  }

  &-time{
    grid-row: 3/4;
    padding-left: 2rem;
    font-size: 2.8rem;
    font-weight: 300;
    @include responsive(desktop){
      grid-row: 2/4;
      grid-column: 1/2;
      font-size: 4.5rem;
    }
  }
  &-ellipsis{
    justify-self: end;
    padding-right: 2rem;
    grid-row: 2/3;
    grid-column:3/4;

    @include responsive(desktop){
      grid-row: 1/2;
      grid-column: 3/4;
    align-self: center;
  }
  }

  &-elapsed{
    grid-row: 3/4;
    grid-column:2/4;
    justify-self: end;
    padding-right: 2rem;
    margin-top: 1.5rem;
    font-size: 1.4rem;
    color:$Pale-Blue;
    @include responsive(desktop){
      grid-row: 3/4;
      grid-column: 1/3;
      margin-top: 3rem;
      padding: 0 0 0 2rem;
      justify-self: start;
    }

  }


  &-img{
    position: absolute;
    top: 0;
    z-index: 10;
  }
}

.card__container{
  display: grid;
  grid-template-columns: repeat(3,33%);
  grid-template-rows: repeat(4,25%);
  align-items: center;
  position: absolute;
  width: 100%;
  height: 140px;
  bottom: 0px;
  background-color: $Dark-blue;
  border-radius: 1rem;
  z-index: 20;
  transition: background-color .4s ease-in-out;
  &:hover{
    background-color: $Desaturated-blue;
    cursor: pointer;
  }

  @include responsive(desktop){
    height: 180px;
  }
}
