/*-- Section Slogan --*/

.slogan {
  position: relative;
  background-color: $Bright-Red;
  height: 40rem;
  text-align: center;
  @include desktopXL {
    @include d-flex(space-between, center);
    padding: 0 15rem;
    height: 25rem;
  }

  &__h2 {
    padding: 0 3.5rem;
    padding-top: 9rem;
    margin-bottom: 2.3rem;
    font-size: 4rem;
    color: $Vary-Light-Gray;
    line-height: 5rem;
    @include desktopXL {
      padding-left: 4rem;
      padding-right: 4rem;
      max-width: 50rem;
      text-align: start;
      padding-top: 4rem;
    }
  }
  & .btn {
    margin-bottom: 8rem;
    @include tablet {
      margin: 4rem 0;
    }
  }
}
