<div class="w-full max-w-lg mx-auto p-5 bg-roseCustom-SoftRed flex h-24 justify-between rounded-md">
    <div class="flex flex-col  justify-center text-roseCustom-VeryPaleOrange">
      <h2 class="text-xl">My Balance</h2>
      <p class="text-2xl font-semibold">$921.48</p>
    </div>
  <img src="../../images//logo.svg" alt="logo">
</div>