/*-- Colors, breakpoints,font --*/
$Bright-Red: hsl(12, 88%, 59%);
$Dark-Blue: hsl(228, 39%, 23%);
$Dark-Grayish-Blue: hsl(227, 12%, 61%);
$Very-Dark-Blue: hsl(233, 12%, 13%);
$Very-Pale-Red: hsl(13, 100%, 96%);
$Vary-Light-Gray: rgb(250, 250, 250);

$bk-mobile: 375px;
$bk-tablet: 768px;
$bk-desktop-min: 1024px;
$bk-desktop: 1440px;

$font-base: 62.5%;
$font-size: 1.6rem;
$font-main: "Be Vietnam", sans-serif;
